PORT= 
MONGODB_URI=
MONGODB_URI_LOCAL=
MONGODB_URI_DOCKER=
FRONTEND_URL=
FRONTEND_ADMIN_URL=
FRONTEND_URL_DOCKER=
FRONTEND_ADMIN_URL_DOCKER=

EMAIL=
EMAIL_PASSWORD=
JSON_WEB_TOKEN_SECRET_KEY=
SECRET_KEY_ACCESS_TOKEN=
SECRET_KEY_REFRESH_TOKEN=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

REDIS_HOST=
REDIS_PORT=
